<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @atm.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @atm.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @atm.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @atm.long %>
</p>

<%= link_to 'Edit', edit_atm_path(@atm) %> |
<%= link_to 'Back', atms_path %>
